# ignore workspace of VS Code
*.code-workspace

# ignore the .DS_Store file
.DS_Store

# ignore the note.txt
anki/notes.txt

# ignore any toolkit file
toolkit/

# ignore any kind of scripts not in use
_*.js
_*.html

# ignore the erase script
#bash/remove
bash/pcopy

# ignore clasp files
.clasp.json
appsscript.json
Code.js

# ignore jshint file
.jshintrc

# ignore ipynb files
*.ipynb*

# ignore csv files
*.csv
