.card {
    font-family: arial;
    font-size: 16px;
    text-align: left;
    background-color: #D8DEE9;
    color: #343D46;
}

.lang {
    /* color: #EC5f67; */
    display: none;
}

pre code {
    display: block;
    font-family: Monaco, Menlo,iosevka, Hack;
    background-color: #343D46;
    color: #D8DEE9;
    padding-left: 5px;
}


a {
    color: #6699CC;
    text-decoration: none;
    border-bottom: 2px solid #6699CC;
}

/* Oceanic Colorscheme */
/* base08 */
.red {color: #bf616a; font-style: italic;}

/* base09 */
.orange {color:#d08770;}

/* base0A */
.yellow {color: #ebcb8b; font-weight: 400;}

/* base0B */
.green {color: #a3be8c;}

/* base0C */
.cyan {color: #88c0d0;}

/* base0D */
.blue {color: #5e81ac;}

/* base0E */
.magenta {color: #b48ead;}

/* comment base03 */
.grey {color: #65737E;}





