.card {
    font-family: arial;
    font-size: 16px;
    text-align: left;
    background-color: #D8DEE9;
    color: #343D46;
}

.lang {
    /* color: #EC5f67; */
    display: none;
}

pre code {
    display: block;
    font-family: Monaco, Menlo,iosevka, Hack;
    background-color: #343D46;
    color: #D8DEE9;
    padding: 2px 5px;
}


a {
    color: #6699CC;
    text-decoration: none;
    border-bottom: 2px solid #6699CC;
}

.indent1 {
    margin: 0 0 0 40px;
    border: none;
    padding: 0px;
}

.indent2 {
    margin: 0 0 0 80px;
    border: none;
    padding: 0px;
}

.indent3 {
    margin: 0 0 0 120px;
    border: none;
    padding: 0px;
}





/* dl, dt, dd {
    line-height: 10px;
} */

/* Oceanic Colorscheme */
/* base08 */
.red {color: #EC5f67;}
.redjs {color: #EC5f67; font-style: italic;}

/* base09 */
.orange {color: #F99157;}

/* base0A */
.yellow {color: #FAC863; font-weight: 400;}

/* base0B */
.green {color: #99C794;}

/* base0C */
.cyan {color: #5FB3B3;}

/* base0D */
.blue {color: #6699CC;}

/* base0E */
.magenta {color: #C594C5;}

/* comment base03 */
.grey {color: #65737E;}





