body {
    font-family: arial;
    font-size: 16px;
    text-align: left;
    background-color: #D8DEE9;
    color: #343D46;
}

.language {
    display: none;
}

pre code {
    display: block;
    font-family: Monaco, Menlo;
    background-color: #343D46;
    color: #D8DEE9; /* foreground color */
    margin: 1px 1px;
    padding: 1px 1px;
}
/* .card {
    font-family: arial;
    font-size: 16px;
    text-align: left;
    color: #D8DEE9;
    background-color: #343D46;
} */

a {
    color: #6699CC;
    text-decoration: none;
    border-bottom: 2px solid #6699CC;
}

/* Oceanic Colorscheme */
/* base08 */
.vr, .mp, .tg {color: #EC5f67;}

/* base09 */
.it, .bl {color: #F99157;}

/* base0A */
.cl {color: #FAC863;}

/* base0B */
.st {color: #99C794;}

/* base0C */
.re, .ecs, .quo, .pun {color: #5FB3B3;}

/* base0D */
.fun, .att, .met {color: #6699CC;}

/* base0E */
.kw, .sel {color: #C594C5;}

/* comment base03 */
.cm {color: #65737E;}





